.table {
    width: 600px;
    margin: 0 auto 100px;
    border-collapse: collapse;
    border: 1px solid #020202;
}

.head {
    background-color: #333;
    color: #fafafa;
}

.bodyTr:nth-child(even) {
    background-color: #d3d3d3;
}

.bodyTr:hover {
    background-color: #ddd;
}

td {
    padding: 8px;
    border: 1px solid #020202;
    text-align: center;
}

